/* You can add global styles to this file, and also import other style files */
.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.robiblog_main {
  margin-top: 7.5rem;
}
.loginForm {
  padding: 2rem;
  & form button {
    margin: 1rem 2rem;
  }
}

.collection {
  z-index: 0;
  position: static;
}

.robiblog_log {
  span {
    font-size: 3rem;
    text-transform: uppercase;
  }
}
.btn.disable {
  cursor: not-allowed;
  filter: grayscale(1) opacity(0.5);
}
.input-field {
  display: flex;
  align-items: center;
}

select {
  display: block;
}
.autocomplete {
  position: relative;
  width: 100%;
  &-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
  &-item {
    padding: 0.5rem;
    cursor: pointer;
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    &::first-letter {
      text-transform: uppercase;
    }
    &.active {
      background: #0288d1;
      color: #fff;
    }
  }
}
